* {
    border: solid 1px red;
}

body {
    background-image: url(assets/library_background.jpg);
}

.container {
    background-color: rgba(131, 105, 83, 0.8);
    border: solid 5px brown;
}

form,
.book-container,
.book {
    display: flex;
    justify-content: center;
}

.new-book-container {
    display: flex;
    justify-content: flex-end;
}

form,
.book {
    flex-direction: column;
    align-items: center;
}

input[value="Submit"]:active,
input[value="New Book"]:active {
    background-color: aqua;
    cursor: pointer;
}

.remove-book {
    padding: 0;
    height: 26px;
    width: 26px;
    align-self: flex-end;
}

#cancel-button {
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 0;
    height: 26px;
    width: 26px;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: inset 0 2px 2px gray;
}

.form-dim {
    position: absolute;
    background-color: rgba(100,100,100,0.5);
    top: 0%;
    height: 100%;
    width: 100%;
}

/* This will probably be used for the form when it appears after
clicking on the New Book button */
form {
    background-color: white;
    position: absolute;
    width: 500px;
    left: calc(50vw - (500px / 2));
    overflow: static;
    top: -22%;
    opacity: 0;
    z-index: 1;
}

@keyframes form-showing-animation {
    from {
        opacity: 0;
        top: -22%;
    }
    to {
        opacity: 1;
        top: 20%;
    }
}

@keyframes form-hiding-animation {
    from {
        opacity: 1;
        top: 20%;
    }
    to {
        opacity: 0;
        top: -22%;
    }
}

.form-hiding {
    animation-name: form-hiding-animation;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

.form-showing {
    animation-name: form-showing-animation;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}
