:root {
    color: white;
}

* {
    border: solid 1px red;
}

body {
    background-image: url(assets/library_background.jpg);
}

.container {
    background-color: rgba(131, 105, 83, 0.8);
    border: solid 5px brown;
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
    width: 80%;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container * {
    color: white;
    text-align: center;
}

.header-container p {
    margin-bottom: 0;
    padding-bottom: 25px;
    position: relative;
    width: 500px;
}

.header-container p::after {
    content: "";
    background: black;
    position: absolute;
    bottom: 0;
    left: -10%;
    height: 5px;
    width: 120%;
}

form,
.book-container,
.book {
    display: flex;
    justify-content: center;
}

.new-book-container {
    display: flex;
    justify-content: flex-end;
}

.book-buttons > *,
#new-book-button,
#input-rating,
#add-book {
    background-color: #9d7dc7;
    color: white;
    outline: none;
    border: solid 2px lightgray;
    border-radius: 8px;
    height: 35px;
}

#new-book-button {
    margin: 10px 10px 0 0;
    width: 125px;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(100px, 20%));
    margin: 16px;
    min-height: 378px;
}

form,
.book {
    flex-direction: column;
    align-items: center;
}

.book {
    background-color: whitesmoke;
    background-image: url(assets/card.png);
    background-size: 100% 100%;
    border: solid 2px lightgray;
    margin: 2.5px;
    text-align: center;
    overflow-wrap: anywhere;
    width: 222px;
    justify-content: space-between;
    min-height: 369px;
}

.book-information,
.book-buttons {
    margin: 8px 10px;
    flex: auto;
}

.book h2 {
    margin-top: 16px;
}

.header-container *,
.title,
.author,
.pages,
.read,
.rating {
    text-shadow: 0px 1px 0px black,
                 0px -1px 0px black,
                 1px 0px 0px black, 
                 -1px 0px 0px black;
}

.book-information,
.book-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-information {
    justify-content: space-between;
}

.book-buttons {
    margin-bottom: 14px;
    justify-content: space-evenly;
}

.book-buttons > * {
    width: fit-content;
}

.change-rating-button {
    margin: clamp(5px, 10%, 30px) 0;
}

.change-rating-options {
    /* margin-top: 0;
    margin-bottom: 16px; */
}

input[value="Submit"]:active,
input[value="New Book"]:active {
    background-color: aqua;
    cursor: pointer;
}

.remove-book,
#cancel-button {
    background: none;
    border: none;
    height: 24px;
    width: 24px;
}

.remove-book {
    padding: 0;
    align-self: flex-end;
    margin: 10px 10px 0 0;
}

#cancel-button {
    position: absolute;
    top: 2%;
    right: 2%;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

#new-book-button:active {
    box-shadow: inset 0 6px 2px gray;
}

.form-dim {
    position: fixed;
    background-color: rgba(100,100,100,0.5);
    top: 0%;
    height: 100%;
    width: 100%;
}

legend {
    margin: 0 auto 5px;
}

label {
    margin-bottom: 5px;
}

form > input {
    margin-bottom: 10px;
}

.radio-buttons {
    margin-bottom: 10px;
}

.rating-select {
    margin-bottom: 10px;
}

label[for="input-title"] {
    margin-top: 25px;
}

#add-book {
    margin-bottom: 25px;
}

input {
    appearance: none;
}

input[type="text"],
input[type="tel"] {
    border: solid 2px lightgray;
    border-radius: 8px;
}

input[type="text"]:focus,
input[type="tel"]:focus {
    outline: solid 2px darkgray;
    border-color: rgba(0, 0, 0, 0);
}

input[type="radio"] {
    background-color: white;
    height: 15px;
    width: 15px;
    border: solid 2px lightgray;
    border-radius: 8px;
    vertical-align: -2px;
}

input[type="radio"]:checked {
    background-color: #9d7dc7;
}

#input-rating {
    margin-left: 5px;
}

/* This will probably be used for the form when it appears after
clicking on the New Book button */
form {
    background-color: whitesmoke;
    color: black;
    position: fixed;
    width: 500px;
    left: calc(50vw - (500px / 2));
    overflow: static;
    top: -40%;
    opacity: 0;
    z-index: 1;
    box-shadow: 0px 1px 8px 1px black;
}

@keyframes form-showing-animation {
    from {
        opacity: 0;
        top: -40%;
    }
    to {
        opacity: 1;
        top: 20%;
    }
}

@keyframes form-hiding-animation {
    from {
        opacity: 1;
        top: 20%;
    }
    to {
        opacity: 0;
        top: -40%;
    }
}

.form-hiding {
    animation-name: form-hiding-animation;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

.form-showing {
    animation-name: form-showing-animation;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}


.error-message {
    display: none;
    text-align: center;
    background-color: red;
    color: white;
    width: fit-content;
    margin: 0 auto 10px;
    font-weight: 600;
}